.DS_Store
*.bmp
*.dSYM
compile_commands.json
.cache
*~

serial/stencil

nonblocking_p2p/stencil
nonblocking_p2p/bspmm_pack

derived_datatype/stencil
derived_datatype/stencil_alltoallw
derived_datatype/bspmm_subarray
derived_datatype/bspmm_vector

blocking_coll/cpi
blocking_coll/stencil_alltoallv
blocking_coll/sort_any_procs

nonblocking_coll/stencil_alltoallw

unintended-sync/unintended-sync1
unintended-sync/unintended-sync2
unintended-sync/unintended-sync3
unintended-sync/unintended-sync4
